body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}
.overlay {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px;
    z-index: 2000;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 6px;
}
.titulo {
    position: absolute;
    top: 3px;
    right: 10px;
    max-width: 500px;
}
.titulo p{
    font-size: medium;
}
h1 {
    font-size: larger;
}
.informacion {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2000;
    font-size: small;
    display: flex;
    justify-content: space-between;
}
.leyenda {
    max-width: 300px;
    border-radius: 5px;
    padding: 0px 10px;
}

.leyenda p{
    margin: 0.5em;
}
.leyenda_linea { 
    width: 50px;
}
.leyenda_valores {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.seleccionador {
    max-width: 500px;
}
.slide {
  position: absolute;
  margin: 10px;
  padding: 6px;
  max-width: 400px;
  left: -363px;
  height: 95%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  overflow: scroll;
  z-index: 3000;
  background: rgba(255, 255, 255, 0.9);
}
.slide.in{
    left: 0px;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left;
    font-size: small; 
}
.slide .close { 
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25px;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 8;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    h1 {
        font-size: large;
        margin: 0px;
    }
    .titulo {
        max-width: 280px;
        right: 3px;
    }
    .titulo p{
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: small;
    }
    /* .leyenda h3{
        margin: 9px 0px;
    } */
}